<h1>Editing Book</h1>
<%=form_with model:@book,local:true do|f|%>
  <div class="field">
    <div class="label">Title</div>
    <%=f.text_field:title%>
  </div>
  <div class="field">
    <div class="label">body</div>
    <%=f.text_area:body%>
  </div>
  <div class="action">
    <%=f.submit "Update"%>
  </div>
<%end%>
<%=link_to"Show",book_path(@book)%>|<%=link_to"Back",books_path%>